{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Корзина</h1>
    <table class="cart-table">
        <tr>
            <th>Название</th>
            <th>Магазин</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
        {% for item in cart.cartitem_set.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.shop.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.sum }} ₽</td>
        </tr>
        {% endfor %}
    </table>
    <div class="row">
        <div class="col">
            <p>Нажимая "Оформить заказ",
                Вы соглашаетесь с условиями и стоимостью доставки.
                Стоимость доставки = количество поставщиков * 100 руб.</p>
        </div>
        <div class="col">
            <p>Итого: <span class="font-weight-bold">{{ cart.total }} ₽</span></p>
            <p>Доставка: <span class="font-weight-bold">{{ cart.delivery }} ₽</span></p>
            <p>К оплате: <span class="font-weight-bold">{{ cart.total|add:cart.delivery }} ₽</span></p>
            <form action="{% url 'webshop:create_order' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="order_action" value="create">
                <button type="submit" class="submit_btn btn label-success" {% if not cart.total_items %}disabled{% endif %}>
                    Оформить
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}