{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{{ object.name }}</h1>
    <div class="row">
        <div class="col-8 text-center">
            <img src="https://www.apple.com/v/iphone/home/aa/images/overview/compare__fx9dq75qwnma_medium_2x.jpg" alt="айфон">
        </div>
        <div class="col-4">
            <h4>Характеристики</h4>
            {% for parameter in object.productinfo.productparameter_set.all %}
                <span class="font-weight-bold">{{ parameter.parameter.name }}</span>
                <p>{{ parameter.value }}</p>
            {% endfor %}
            <h4 class="mt-3">Магазин</h4>
            <form action="{% url 'webshop:cart' %}" method="post">
                {% csrf_token %}
                {% for shop in object.productinfo.shops.all %}
                <input type="radio" id="shop-{{ shop.pk }}" name="shop" value="{{ shop.pk }}" required>
                <label for="shop-{{ shop.pk }}">{{ shop.name }}</label>    
                {% endfor %}
                <h4 class="mt-3">Цена</h4>
                <div>{{ object.productinfo.price_rrc }}₽</div>
                <h4 class="mt-3">Количество</h4>
                <input name="quantity" placeholder="0" type="text" autocomplete="off" required>
                <input type="hidden" name="product_id" value="{{ object.pk }}">
                <button class="btn btn-primary mt-3" type="submit">Добавить в корзину</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}